dorado_claro = #eaae18
dorado = #B77210
verde_doe = #006B3E
fondo = #eee

body
	background fondo
	margin 0
	padding 0 

nav
	background #fefefe
	border 1px solid #ccc
	border-width 1px 0
	margin 0
	padding 0
	text-align center

	.logo	
		margin 0 auto
		padding 20px
		text-align center

	li
		display inline
		
		a 
			background dorado
			color #fff
			display inline-block
			margin 5px
			padding 15px
			text-decoration none
			transition 1s background
			&:hover
				background fondo
				color verde_doe

	.menu
		background dorado
		margin 0

			
footer
	position absolute

	


.fotos
	margin 0
	padding 0
	width 100%
	img
		position absolute
		width 100%



.left
	float left

.rigth 
	float Rigth